.wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.auth {
    margin: auto;
    min-width: 400px;
    min-height: 200px;
    border: 1px solid #000;
    padding: 40px 20px;
}
.inputItem {
    margin-bottom: 40px;
    display: block;
    position: relative;
}
.inputItem input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px 5px;
    outline: none;
}
.inputItemIcon input {
    padding: 10px 40px 10px 5px;
}
.inputItem input:focus {
    outline: 1px solid darkred;
}
.inputError {
    color: red;
}
.button {
    margin: 30px auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 22px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
}
.button:hover {
    background-color: lightgray;
}
.button:active {
    background-color: darkred;
    color: white;
}
.button:focus {
    outline: 2px solid darkred;
}
.eye {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
    margin: auto;
    cursor: pointer;
}
