.wrapper {
    padding: 30px;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table tr {
    height: 20px;
}
.table td {
    border: 1px solid #000;
}
.table td:hover {
    background-color: lightgray;
    cursor: pointer;
}
.table td.active:hover {
    background-color: darkred;
    cursor: pointer;
}
.active {
    background-color: red;
}
