body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
svg {
    width: 100%;
}
.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
.App a {
    font-size: 26px;
    background-color: green;
    color: white;
    padding: 30px;
}
