.wrapper{
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4px;
    background-color: lightgray;
}
.level {
    height: 100%;
}
